# Default values for common.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# for deployments
replicaCount: 1

image:
  repository:
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
httpContainerPort: 9000

liveness:
  initialDelaySeconds: 30
  path: /health
  port : 9000

readiness:
  initialDelaySeconds: 30
  path: /health
  port : 9000

# for services
service:
  type: ClusterIP
  port: 9000


# for helpers
nameOverride: ""
fullnameOverride: ""
